<%- include('partials/head.ejs', {title: 'Home'}) %>
    <%- include('layouts/navbar.ejs') %>
    <div class="container">
        <section class="home">
            <img src="img/bg.jpg" alt="home bg image" class="image">
            <div class="home__content">
                <h1 class="home__title">Crud NodeJS</h1>
                <p class="home__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam provident iure accusantium, corporis quam excepturi nesciunt odio cupiditate! Voluptates officiis officia, cupiditate modi et dolor nobis facere nesciunt ipsam optio?</p>
            </div>
        </section>
    </div>
<%- include('partials/foot.ejs') %>