<%- include('partials/head.ejs', {title: 'Login'}) %>
    <div class="container">
        <a href="/user" class="btn btn-dark">Users</a>
        <a href="/role" class="btn btn-dark">Roles</a>
    </div>
<%- include('partials/foot.ejs') %>