<nav class="nav">
  <div class="nav__brand">
    <a  href="/" class="nav__brand--link">CrudNode</a>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/" class="nav__link">Home</a>
    </li>
    <li class="nav__item">
      <a href="/login" class="nav__link">Login</a>
    </li>
  </ul>
</nav>